body {
  font-family: sans-serif;
  background: #0a0a0a;
  color: #fff;
  margin: 0;
  scroll-behavior: smooth;
}
html {
  background: #0a0a0a;
}

/* NAVBAR */
nav {
  padding: 1.2rem 3rem;
  margin: 1rem 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #333;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
}

.logo {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);

  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

/* CENTER LINKS */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

/* LINKS */
.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 12px;
  transition: all 0.3s ease;
}

/* hover */
.nav-link:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  transform: translateY(-2px);
}

/* active */
.nav-link.active {
  background: #fff;
  color: #000;
  transition: all 0.3s ease;
}

.btn-cv {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 10px 16px;

  border: 1px solid #333;
  border-radius: 12px;

  color: #fff;
  text-decoration: none;

  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(10px);

  transition: all 0.3s ease;
}

.btn-cv:hover {
  background: #fff;
  color: #000;
  transform: translateY(-2px);
}

.page-content {
  opacity: 1;
  transition: opacity 0.8s ease;
}

.page-content.fade-out {
  opacity: 0;
}

section {
  padding: 6rem 3rem;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  color: #aaa;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  max-width: 1000px;
  margin: 0 auto;
  padding: 6rem 3rem;
}

.hero-text {
  align-items: center;
  text-align: left;
}

.hero-text h1 {
  margin-bottom: 0.5rem;
}

.hero-role {
  color: #888;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.hero-text p {
  max-width: 420px;
  line-height: 1.5;
}

.hero-image img {
  width: 280px;
  height: 280px;
  object-fit: cover;

  border-radius: 12px;
  border: 1px solid #333;

  box-shadow: 0 0 30px rgba(255,255,255,0.08);
}
.hero-image img:hover {
  box-shadow: 0 0 30px rgba(251, 251, 251, 0.10);
}
.card-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  border: 1px solid #333;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.card--lg {
  width: 250px;
  height: 250px;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card--sm {
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 0.85rem;
  background: rgba(255, 255, 255, 0.02);
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.card:hover {
  transform: translateY(-6px);
  border-color: #fff;
}

.projects-grid {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.project-card {
  width: 240px;
  padding: 0.9rem;

  border: 1px solid #333;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);

  transition: 0.3s ease;
  text-align: left;
}

.project-card:hover {
  transform: translateY(-6px);
  border-color: #fff;
}

.project-image {
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #333;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.project-link:hover .project-card {
  transform: translateY(-6px) scale(1.02);
  border-color: #fff;
}

.project-card p {
  font-size: 0.9rem;
  line-height: 1.4;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.tags span {
  font-size: 0.75rem;
  padding: 4px 8px;
  border: 1px solid #333;
  border-radius: 8px;
  background: rgba(255,255,255,0.02);
}

.contact-footer {
  position: fixed;
  bottom: 16px;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  margin-bottom: 18px;
  color: #aaa;
}

.contact-bar {
  display: flex;
  gap: 2rem;
  margin-bottom: 2px;

  justify-content: center;

  padding: 6px 10px;

  border: 1px solid #333;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);

  max-width: 1200px;
  width: calc(100% - 4rem);
}

.contact-link {
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 12px;
  border: 1px solid transparent;

  transition: all 0.3s ease;
}

.contact-link:hover {
  background: #fff;
  color: #000;
  border: 1px solid #fff;
  transform: translateY(-2px);
}